* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #f9f9f9; /* Fundo levemente cinza */
    color: #1c1c1c;
}

/* Navbar */

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 3rem;
    border-bottom: 1px solid var(--cinza-medio);
}

.nav-search {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--cinza-medio);
    width: 600px;
    border-radius: 20px;
    padding: 5px 20px;
}

#searchInput {
    padding: 8px;
    border: none;
    background-color: transparent;
    width: 100%;
    outline: none;
}

.nav-search label {
    height: 20px;
}

.nav-icons {
    display: flex;
    gap: 1.5rem;
    color: var(--texto-escuro);
}

.nav-icons .material-icons-outlined {
    cursor: pointer;
    transition: color 0.2s;
    font-size: 1.3rem;
}

.nav-icons .material-icons-outlined:hover {
    color: var(--verde-principal);
}

/* Layout principal */
.container {
    display: flex;
    padding: 40px;
    gap: 40px;
}

/* Sidebar */
.sidebar {
    width: 240px;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin: 14px 0;
    color: #333;
    cursor: pointer;
}

/* Conteúdo principal */
.content {
    width: 100%;
    background: #ffffff;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#mensagem {
    color: #333;
    font-size: 16px;
    margin-bottom: 30px;
}

/* Botão adicionar */
#btn-addEndereco {
    background: #007bff;
    padding: 12px 28px;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s ease;
}

#btn-addEndereco:hover {
    background: #005fcc;
}

/* Título */
.title {
    margin: 0;
    text-transform: lowercase;
    font-size: 26px;
}

/* Formulário */
#form-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

label {
    font-size: 14px;
    color: #444;
    margin-top: 10px;
}

.input {
    padding: 12px;
    border: 1px solid #bbb;
    border-radius: 6px;
    font-size: 14px;
    width: 100%;
}

.row {
    display: flex;
    gap: 50px;
}

.col {
    flex: 1;
}



/* Botões */
.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.btn-save {
    background: #007bff; /* azul */
    padding: 12px 26px;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.btn-save:hover {
    background: #005fcc;
}
